{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Лента постов любимых авторов
{% endblock %}
{% block content %}
      <div class="container py-5">
        {% include 'includes/switcher.html' with follow=True %}
        <h1>Лента постов любимых авторов</h1>
        {% for post in page_obj %}
        <article>
          {% include 'includes/post_card.html' %}
          {% include 'includes/group.html' %}     
        </article>
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'includes/paginator.html' %}
      </div>
{% endblock %}
